/* General */

.container-content {
    max-width: 1140px;
    min-height: 700px;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
}

/* end general */

/* sidebar */
.sidebar-wrapper {
    min-height: inherit;
    width: 50px;
    position: absolute;
    height: inherit;
    overflow-y: hidden;
    background-color: #5A5B95;
    transition-duration: 500ms;
}
.sidebar-nav {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
.sidebar-link {
    width: 100%;
    line-height: 40px;
}
.sidebar-link a {
    white-space: nowrap;
    width: 100%;
    display: block;
    text-decoration: none;
    color: #ddd;
}
.sidebar-link a:hover {
    background-color: #3b9d93;
}

.sidebar-label {
    display: none;
    transition-duration: 500ms;
}

/* icon */
.sidebar-icon {
    display: inline-block;
    width: 50px;
    text-align: center;
}
.sidebar-icon i {
    width: 100%;
    text-align: center;
}

/* sidebar toggle */
.container-content.expand .sidebar-wrapper {
    width: 230px;
    transition-duration: 500ms;
}
.container-content.expand .content-wrapper {
    max-width: 890px;
    margin-left: 250px;
    transition-duration: 500ms;
}
.container-content.expand .sidebar-wrapper .sidebar-label {
    display: inline-block;
    transition-duration: 500ms;
}
.container-content.expand .sidebar-link a {
    width: 100%;
}
/* end sidebar toggle */

/* end sidebar */

/* content */
.container-content .content-wrapper {
    max-width: 1070px;
    margin-left: 70px;
    width: calc((100%) - 70px);
    padding: 15px;
    border: 5px solid black;
    transition-duration: 500ms;
}

/* end content */