.container-content {
    max-width: 1320px;
}
.login-form-container {
    max-width: 1100px;
    width: 80%;
    margin: 30px auto;
    box-shadow: 5px 10px 15px #aaa;
    border-radius: 30px;
}
.login-form {
    width: 90%;
    margin: 30px auto;
}
.login-form .input-group {
    width: auto;
}
.login-form h2 {
    margin-bottom: 15px;
}
.form-links{
    margin-left: 3px;
    margin-bottom: 15px;
}
.form-links a {
    text-decoration: none;
}
.form-img-container img {
    max-width: 100%;
}
